@media(min-width: 1024px){
/****************************************************START****************************************************/	
	*{
		padding : 0;
		margin : 0;
		box-sizing : border-box;
	}
	
	:root{
		--pri_color :#002875;
		--sec_color :#7a0632;
		--bg_color :#eff6ff;
        overflow-y : visible !important;		
	}
	body{
		background-color : #f0f4fd;
   	    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";		
	}
/*************************************TEXT ANIMATION*************************************/	
	
	
    .char{
        font-size: 4.5rem;
        display: inline-block;
        animation: an 1s ease-out 1 both;
    	background : repeating-linear-gradient(to right,#AE8626,#F7EF8A,#D2AC47,#EDC967);
    	-webkit-text-fill-color :transparent;
		-webkit-background-clip : text;		
    	background-clip : text;	
    }	
	
	
	
    .char_animated{
        animation: an 1s ease-out 1 both;		
    }


    @keyframes an{
        from{
            opacity: 0;
            transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
        }
        to{
            opacity: 1;
            transform: perspective(500px) translate3d(0, 0, 0);
        }
    }	
	
	
	
/******************************MOBILE MENU******************************/
	
	.mobile_menu_section{ 
		display : none;
	}
	
/******************************FIRST SECTION******************************/
    .first_section{
        width : 100%;
		min-height : 100dvh;
		min-height : 100vh;
        background-image: url("../IMAGES/Untitled design-6_page-0001.webp");
		background-size : cover;
	}
    .first_section .first_section_content{		
        width : 100%;
	}
	
	.first_section_heading{
		padding-left : 20px;
		padding-top : 250px;
        background-image: repeating-linear-gradient(45deg,#e12454 35%,#223a66 65%);	
		-webkit-text-fill-color : transparent;
		-webkit-background-clip : text;		
		background-clip : text;
		display : inline-block;
		font-size : 2.15rem;
		font-weight : 700;
		text-shadow : 2px 2px #3e3e3e4c;
		width : 70%;		
	}
	
    .conversion_image{
		width : 100%;
		height : auto;
		display : none;
	}
	
	.mobile_first_section{
		width : 70%;
		height : 100px;
		display : none;
		
	}	
	
/*******************************FLEX LEFT ITEM ANIMATION**************************/
    @keyframes flex_left_item_animation{
		from{
			transform : scale(0);
		}
		to{
			
			transform : scale(1);
			
		}
		
		
	}
	
	.flex_left_item_animation_class{
		animation-name : flex_left_item_animation;
		animation-duration : 2s;
		animation-fill-mode : forwards;
	}
	
/*******************************BACKGROUND SECTION**************************/

   .background_section{
		width : 100%;
		min-height : auto;
		padding : 2rem 4rem 0 4rem;
   }	   
   
   .background_section_content{
	   font-size : 1.15rem;   
   }
   
	.system_heading{
		font-weight : 600;
		font-size : 1.5rem;
	}
	
		
   .large_letter_style{
      font-size: 5.5rem;
	  color : var(--sec_color);
	  margin : 0 ;
	  padding : 0 ;
      font-family : "Anton", sans-serif;	  
   }	
   
  .large_letter_flex{
	  display : flex;
	  height : 109.6px;
	  flex-direction : row;
	  align-items : flex-end;
	  gap : 0;
  }
  
  
  .large_letter_flex span{
	  display : block;
	  line-height : 1.2;
	  margin : 0;
	  padding : 0;
  }
  
  .arrow_flex{
	  width : 500px;
	  display : flex;
	  flex-direction : column;
	  justify-content : center;
	  height : auto;
  }
  
  .dir_arrow{
      width : 60px;
	  height : 60px;
	  transform : rotate(90deg);
	  align-self : center;
  }
  
  .ultimate_text{
      font-family : poppins;
      font-size : 1.25rem;
      font-weight : bold;	  
  }
  
  
/*******************************SEVENTH SECTION**************************/
    .seventh_section{
		width : 100%;
		min-height : auto;
		padding : 0 0 3rem 0;
		
	}
	.seventh_section .seventh_section_content{
		width : 90%;
		margin : 0 auto 0 auto;
	}
	
	.seventh_section .seventh_section_flex{
		display : flex;
		flex-direction : row;
		align-items : center;
        gap : 20px;
		width : 100%;
	}
	
	.seventh_section .seventh_section_flex_left_item{
		width  : 35%;		
	}
	
	.first_service_image{
		width : 100%;
	    border-top-left-radius : 5px;
	    border-bottom-right-radius : 5px;
        height : auto;		
	}
	
	.seventh_section .seventh_section_heading{
       font-size : 1.5rem;
       font-weight : 600;
	   color :  var(--pri_color);
	   text-align : left;
       padding : 0 0 10px 0;
       font-family : sans-serif;	   
	}
	
	.seventh_section .seventh_section_flex_right_item{
		width : 65%;
		font-size : 1.05rem;
	}	
	
	.success_list{
	    padding-top : 0;
        padding-bottom : 0;
	    margin-top : 0;
	}
	
	.manage_text{
	    padding-top : 0;
        padding-bottom : 0;
	    margin-top : 0;
        margin-bottom : 0;			
	}	
	

/*******************************SECOND SECTION**************************/
    .second_section, .third_section, .fourth_section, .fifth_section, .sixth_section{
		width : 100%;
		min-height : auto;
		padding : 4rem 0 3rem 0;
	}
	.section_content{
		width : 90%;
		margin : 0 auto 0 auto;
	}
	
	.second_section_flex{
		display : flex;
		flex-direction : row-reverse;
		align-items : center;
        gap : 20px;
		width : 100%;
		height : auto;
	}
	
	.section_flex_left_item{
		width  : 35%;
	}
	
	.service_image{
		width : 100%;
	    border-top-left-radius : 5px;
	    border-bottom-right-radius : 5px;	
        height : auto;		
	}
	
	.section_heading{
       font-size : 1.5rem;
       font-weight : 600;
	   color :  var(--pri_color);
	   text-align : left;
       padding : 0 0 10px 0;
       font-family : sans-serif;		
	}
	
	.section_flex_right_item{
		width : 65%;
		font-size : 1.05rem;
	}
	
/*******************************THIRD SECTION**************************/

	.third_section .third_section_flex{
		display : flex;
		flex-direction : row;
		align-items : center;
        gap : 20px;
		width : 100%;
		height : auto;
	}
	

/*******************************FOURTH SECTION**************************/
 
	
    .fourth_section .fourth_section_flex{
		display : flex;
		flex-direction : row;
		align-items : center;
        gap : 20px;
		width : 100%;
		height : auto;
	}
	
	
/*******************************FIFTH SECTION**************************/
	
	.fifth_section .fifth_section_flex{
		display : flex;
		flex-direction : row-reverse;
		align-items : center;
        gap : 20px;
		width : 100%;
		height : auto;
	}
	

	
/*******************************SIXTH SECTION**************************/
	
	.sixth_section .sixth_section_flex{
		display : flex;
		flex-direction : row;
		align-items : center;
        gap : 20px;
		width : 100%;
		height : auto;	
	}
	
	
/*******************************EIGHT SECTION**************************/
    .eight_section{
		width : 100%;
        padding : 4rem 0 6rem 0;
        min-height : auto;
        background :#131a2a;
        position : relative;		
	}
	
	.eight_section_content{
		width : 92%;
		margin : 0 auto 0 auto;
		
	}
	
	.eight_section_logo_image{
		position : absolute;
		top : 30%;
		right : 0;
		width : 400px;
		height : 209px;
		opacity : 0.05;
	}
	
	.eight_section_heading{
		font-size : 2.5rem;
		font-weight : 600;
		color : #ffffff;
		padding : 0 0 25px 0;
	}
	
	.eight_section p{
		color : #ffffff;
		font-size : 1.45rem;
		padding : 0 200px 0 0;
		text-align : left;
        hyphens: manual;
        overflow-wrap: normal;
        word-break: normal;	
        max-width: 100%;		
	}
	
	.service_cta{
		width : 40%;
		height : 50px;
		background-color :#f2e6ca;
		font-weight : 600;
		font-size : 1.75rem;
		color : #600527;
		border : none;
		outline : none;
		margin : 50px 0 0 0;
		border-top-left-radius :12.5%;
		border-top-right-radius :12.5%;
		border-bottom-left-radius :12.5%;
		border-bottom-right-radius :12.5%;		
	}
	
	.service_cta_link{
		color : #600527;
		text-decoration : none;
	}
	
	.service_cta_link:hover{
		
		text-decoration : none;
		color : #001F4A;
	}	
	


	

/****************************************************END****************************************************/
}